.prods {
  list-style-type: none;
  padding: 1.25rem;
}

.prodsItem {
  display: flex;
  justify-content: space-between;

  
  span {
    color: white;

    font-size: 0.75rem;
    text-transform: uppercase;

    &:first-child {
      color: #FFF5D9;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #D6C086;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem
  }
}



