.barInner {
  background-color: #080909;
  border-top: 2px solid #D6C086;
  height: calc(100vh - 4.655rem);
}

.barInnerContainer {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 2px solid #D6C086;
  height: calc(100vh - 7.155rem);
}